* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
}
html{
    font-size: 80%;
    overflow-x: hidden;
}
body {
    font-family: 'Gill Sans','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

section {
    padding: 10rem 9% 2rem;
    min-height: 100vh;

}
a {
    text-decoration: none;
}

.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 1.5rem 9%;
    background-color: #161414;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    color: #f44d42;
    font-size:2rem;
    margin-left: 4rem;  
    font-family: 'Rubik', 'sans-serif';
    font-weight: 700;
}
.navbar a:hover,
.navbar a.active{
    color:#dfdcdc;

}
#menu-icon{
    font-size: 3.5rem;
    color: #edcfcd;
    display: none;
}

.logo {
    color: #f65e50;
    font-size: 3rem;
    cursor: default;
    font-weight: 700;
}
.main-btn {
    display: inline-block;
    font-family: 'Rubik', 'sans-serif';
    padding: 1rem 3rem;
    font-weight: 600;
    border-radius: 4em;
    cursor: pointer;
    border: 0.125rem transparent;
    box-shadow: 0 0 1rem #f44d42;
    transition: .5s ease;
    background: linear-gradient(to right, #ef76a4, #f44d42 100%);
    color: black;
    font-size: 20px;
    margin-right: 20px;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e79090;
    
}

.main-btn:hover {
    box-shadow: none;
    color: #c3c0c0;
}
.home-content p {
    font-size: 1.6rem;
}
.home-content h2{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h2:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 50px;
    line-height: 3.75rem;
    font-weight: 700;
    font-family: 'Rubik', 'sans-serif';
}
.myphoto img {
    border-radius: 50%;
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

/*----about----*/
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 3rem;
    background-color: #dfdcdc;
    height: 100vh;
}
.sub-title {
    font-size: 4rem;
}

.about-col-1 img {
    width: 35vw;
    border-radius: 15px;
}


.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-titles p:hover {
    transform: scale(1.05);
}

.tab-links {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #f44d42;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 70%;
}

.tab-contents ul li {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
}

.tab-contents li:hover {
    transform: scale(1.03);
}

.tab-contents ul li span {
    color: #f44d42;
    font-size: 25px;
    padding-bottom: 20px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/*------- Resume----- */

.resume-section {
    padding: 30px 10px;
    background-color: #dfdcdc;
    height: 100vh;
}
.resume-section p {
    text-align: center;
    font-size: 40px;
    padding-top: 6rem;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap: 30px;

}

.center-btn a {
    background:linear-gradient(to right, #ef76a4, #f44d42 100%);
    padding: 20px 40px;
    font-size: 30px;
}


.btn-large:hover {
    background-color: #ed8c85;
}

/*--------projects-section--------*/
.projects-section {
    padding: 20px 20px;
    background-color: #e79090;
    height: 100vh;
}

#projects h1 {
    text-align: center;
    padding: 15px;
    font-weight: 800;
    color: #000000;
    margin-top: 5rem;
}

.work {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 10px;
}

.work img {
    width: 100%;
    display: block;
    border-radius: 10px;
    height: 450px;
    transform: scale(1.05);
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(68, 68, 65, 0.6), #530202);
    position: absolute;
    border-radius: 10px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #dfdcdc;
    height: 0;
    transition: height 0.5s;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.layer h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: #dfdcdc;
}

.layer a {
    margin-top: 5px;
    color: #a73535;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: #dfdcdc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    width: fit-content;
    border: 2px solid #f44d42;
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    background: linear-gradient(to right, #ef76a4, #f44d42 100%);
    font-weight: 800;
    transition: background 0.3s;
}

.btn:hover {
    background: #bc3329;
}


/* ------contact-------- */

#contact {
    position: relative;
    padding: 10rem 100px;
    align-items: center;
    background: #e79090;
}

.contact-info-box {
    position: relative;
    padding: 20px;
    display: flex;
}

.contact-info-box i {
    min-width: 90px;
    height: 90px;
    background: #f44d42;
    color: #1a1919;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
}

.contact-info-box p {
    font-size: 1.5em;
    word-spacing: 7px;
    margin-top: 25px;
    margin-left: 10px;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    max-width: 45%;
}

.contact-form {
    margin-top: 5rem;
    max-width: 50%;
    width: 100%;
    margin-left: auto;
}

.contact-form form {
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-form {
    font-size: 1.2rem;
    padding: 1.2rem;
}



.social-media a {
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border: .2rem solid #f44d42;
    background: transparent;
    border-radius: 50%;
    color: #f44d42;
    margin: 3rem 1.5rem 4rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #cf4238;
    color: #dfdcdc;
    box-shadow: 0 0 1rem #cf4238;
}

.footer p {
    text-align: center;
    padding: 1rem;
    background-color: #343a40;
    color: white;
    background-size: 10em;
}

.contact-form .input-box {
    position: relative;
    widows: 100%;
    margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
    width: 100%;
    line-height: 1.5;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    background: #eee;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #252323;
}

.contact-form .input-box input:focus~span,
.contact-form .input-box textarea:focus~span,
.contact-form .input-box input:valid~span,
.contact-form .input-box textarea:valid~span {
    color: #f44d42;
    font-size: 20px;
    transform: translateY(-30px);
}

.contact-btn .input-msg {
    background-color: #f44d42;
    border: 2px solid #fd7575;
    color: #000;
    cursor: pointer;
    display: block;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 20px 0 0;
    outline: none;
    text-transform: uppercase;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.5rem;
}

.message-send {
    color: #611f05;
    opacity: 1;
    display: none;
    margin-top: 10px;
    transition: opacity 1s, display 1s;
}

.contact-btn :hover {
    background-color: #f37e7e;
    color: #fff;
    border-color: #f37e7e;
}

/* -----responsive-------- */
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    .container{
        padding:10rem 3%;
    }
    .projects-section{
        padding: 7rem;
    }
    #contact{
        min-height: auto;
    }

}
@media (max-width: 790px) {
    .home{
        flex-direction: column;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position:absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        border-top: .1ren solid white;
        box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
        display: none;
        background: #000000;

    }
    
    .navbar.active {
        display: block;
      }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    #myphoto img {
        width: 10em;
        height: 10em;
        margin-top: 6rem;
        margin-left: 4.5rem;


    }
    #home h1{
        font-size: 30px;
        text-align: center;
    }
    
    .social-media {
        text-align: center;
    }
    #home h2 {
        font-size: 15px;
        text-align: center;
    }

    #home p {
        font-size: 12px;
        display: inline;
        line-height: 7px;
        text-align: center;
    }
    .home-content{
        order:2;
    }
    
    .main-btn {
        padding: 10px 10px;
        font-size: 14px;
        border-radius: 30px;
        margin-bottom: 1em;

    }

    .mt-5 {
        text-align: center;
    }

    /* ----about------ */
    #about {
        height: max-content;
        flex-direction: column;
    }

    .about-col-1 img {
        width: 30vh;
        height: 40vh;
        margin-top: 4rem;

    }
    
    .sub-title {
        font-size: 20px;

    }

    .tab-contents ul li {
        font-size: 13px;
        margin-top: 2px;


    }

    .me-info {
        font-size: 10px;
        line-height: 15px;
    }

    .tab-links {
        font-size: 14px;
        margin-bottom: 1em;
        display: grid;
    }

    .tab-contents ul li span {
        font-size: 17px;
    }


    /* ----project---- */
    #projects {
        height: max-content;

    }
    .work {
        overflow: hidden;
        transition: transform 0.3s ease;
        border-radius: 10px;
        margin-top: 10px;
    }

    .layer {
        width: 100%;
        height: 0%;
        border-radius: 10px;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        gap: 17px;
        margin-top: 10px;
    }
    
    .layer a {
        font-size: 13px;
        line-height: 40px;
        width: 30px;
        height: 20px;
        border-radius: 50%;
        padding-bottom: 3em;
    }

    .layer p {
        font-size: 13px;
        line-height: 20px;
        width: 18em;
    }

    /* ----resume------- */

   
    .center-btn a {
        font-size: 15px;
    }




    /* ------contact------- */
    #contact {
        padding: 30px 15px;
        height: max-content;
        position: relative;
    }

    .contact-section {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .contact-info {
        max-width: 100%;

    }

    .contact-info-box {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    }

    .contact-info-box i {
        min-width: 60px;
        height: 60px;
        font-size: 20px;
    }

    .contact-info-box p {
        font-size: 1em;
        line-height: 19px;

    }


    .social-media a {
        font-size: 1.3rem;
        margin: 0 8px;
    }

    .contact-form {
        max-width: 100%;
        margin: 0;
    }

    #contact .contact-form form {
        box-shadow: none !important;
    }

    .contact-form h2 {
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }



    .contact-form .input-box span {
        font-size: 0.9rem;
    }

    .contact-btn .input-msg {
        font-size: 1rem;
        padding: 10px;
        border-radius: 5px;
    }

    .message-send {
        font-size: 0.9rem;
    }

    .footer p {
        font-size: 0.9rem;
        padding: 0.8rem;
    }



}
@media (max-width: 400px) {
        .social-media a {
        font-size: 2rem;
        margin: 0 5px;
        
    }
    
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

/* Popup box */
.popup-content {
  background: #dfdcdc;
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  max-width: 400px;
  animation: popIn 0.3s ease;
}

.popup-content h2 {
  font-size: 25px;
  margin-bottom: 20px;
  color:#cf4238;
  font-weight: 700;
}

.popup-content button {
  background: #cf4238;
  color:#1a1919;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
}

@keyframes popIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
