* {
    margin: 0;
    scroll-behavior: smooth;
}
html {
    scroll-behavior: smooth;
}
.container{
    width:auto;
    box-sizing:content-box;
    
}

body::-webkit-scrollbar {
    display: none;
  }

nav{

    overflow: hidden;
    background-color: #1B2430;
   
    box-sizing:content-box;
    max-width: none;
    top:0; left: 0; right: 0;
}

.name{
    color: rgb(3, 43, 78);
    text-align:center;
    font-size: 40px;
    text-decoration: none;
    margin-left: 16em;
    
}

.name a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   

    
}
.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    letter-spacing: 1.5px;
    transition: color 0.6s;
    margin-left: 6em;
    margin-right: 4em;
    font-size: 1em;
   
}
#myTopnav{
   
}
